body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #006b54;
  font-family: "Open Sans", sans-serif;
}

#map {
  border: 2px solid #333;
  width: 80vw;
  height: 80vh;
}

#title img {
  color: white;
  height: 10vh;
}

#buttons {
  margin-top: 1vh;
}

#start {
  border: 2px solid #ffdf00;
  background-color: #ffdf00;
  color: #006b54;
  font-weight: 700;
  padding: 1vh;
  font-size: 1vh;
  cursor: pointer;
  margin-right: 5vw;
}

#end {
  border: 2px solid #ffdf00;
  background-color: #ffdf00;
  color: #006b54;
  font-weight: 700;
  padding: 1vh;
  font-size: 1vh;
  cursor: pointer;
}
